 h1, h2, p {
    text-align: justify;
 }
 body {
    background-color: aliceblue);
 }
.gif-container {
   display: flex;
   justify-content: center;
   gap: 20px;
}
button {
   background-color: lightgrey;
}
p {
   font-size: large;
   font-family: 'Times New Roman', Times, serif;
}
.form {
   font-style: normal;
   box-sizing: border-box;
   border-color: antiquewhite;
   border-radius: 8px;
}